.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.layout {
  min-height: 100vh;
  background-color: blue;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 200px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 24px;
  background: #fff;
  text-align: center;
}

nz-footer {
  text-align: center;
}

.friends-name {
  font-size: large;
  color: black;
}

.hello-profile {
  margin: 20px 0 0px 20px;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.hello-divider {
  height: 2px;
  width: 50%;
  border-radius: 2px;
  position: absolute;
  left: 20px;
  background-color: white;
}

.hello-contact-item {
  position: absolute;
  top: 100px;
  width: 100%;
}

.hello-frends-profile {
  margin-left: 100px;
  height: 70px;
  padding-left: 20px;
  background-color: white;
}

