<nz-layout class="layout">
  <!-- SIDEBAR -->
  <nz-sider [nzWidth]="300" class="bg-blue">
    <h1 class="text-white hello-profile">Hello</h1>
    <hr class="hello-divider" />
    <ul nz-menu nzTheme="light" class="hello-contact-item" nzMode="inline">
      <li class="btn btn-default card p-0 my-2" nz-menu-item>
        <div class="card-body p-1 align-items-center d-flex">
          <nz-avatar
            [nzSize]="50"
            class="rounded-circle shadow mr-2"
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></nz-avatar>
          <div class="friends-name">Mor Diaw</div>
        </div>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <!-- PROFILE D'UN CONTACT -->
    <nz-header class="hello-frends-profile">
      <nz-avatar
        [nzSize]="50"
        class="rounded-circle shadow mr-2"
        nzIcon="user"
        nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
      ></nz-avatar>
      Mor Diaw
    </nz-header>
    <!-- MESSAGES -->
    <nz-content>
      <div class="inner-content">
        ...
        <br />
        Really
        <br />...<br />...<br />...<br />
        long
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />...
        <br />...<br />...<br />...<br />...<br />...<br />
        content
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
