<div class="container my-5" style="margin: auto">
  <div
    class="d-flex align-items-center justify-content-center"
    style="margin: auto"
  >
    <div class="col-lg-6">
      <img
        src="../../../assets/images/login.jpg"
        width="500px"
        height="500px"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-lg-6">
      <nz-tabset>
        <!-- INSCRIPTION -->
        <nz-tab nzTitle="Se connecter">
          <div class="card shadow" style="width: 30em; margin: auto">
            <mat-progress-bar
              *ngIf="isSignUpLoad"
              mode="indeterminate"
              color="basic"
            ></mat-progress-bar>
            <div class="card-body">
              <span class="hello-text">Hello</span>
              <br />
              <h3>Crée votre compte Hello.</h3>
              <div class="alert alert-danger" *ngIf="alertMessage.length != 0">
                {{ alertMessage }}
              </div>

              <!-- FULLNAME -->
              <nz-input-group class="my-2" [nzPrefix]="prefixTemplateUser">
                <input
                  type="text"
                  name="name"
                  id="name"
                  required
                  [(ngModel)]="name"
                  nz-input
                  nzSize="large"
                  placeholder="Prénom Nom"
                />
              </nz-input-group>
              <ng-template #prefixTemplateUser>
                <i class="text-blue" nz-icon
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-user"
                  >
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </i>
              </ng-template>

              <!-- EMAIL -->
              <nz-input-group class="my-2" [nzPrefix]="prefixTemplateEmail">
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  [(ngModel)]="email"
                  nz-input
                  nzSize="large"
                  placeholder="Adresse email"
                />
              </nz-input-group>
              <ng-template #prefixTemplateEmail>
                <i class="text-blue" nz-icon
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-mail"
                  >
                    <path
                      d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                    ></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
                </i>
              </ng-template>

              <!-- PASSWORD -->
              <nz-input-group class="my-2" [nzPrefix]="prefixTemplatePassword">
                <input
                  type="password"
                  name="password"
                  id="password"
                  required
                  nz-input
                  [(ngModel)]="password"
                  nzSize="large"
                  placeholder="Mot de passe"
                />
              </nz-input-group>
              <ng-template #prefixTemplatePassword>
                <i class="text-blue" nz-icon
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-lock"
                  >
                    <rect
                      x="3"
                      y="11"
                      width="18"
                      height="11"
                      rx="2"
                      ry="2"
                    ></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>
                </i>
              </ng-template>

              <!-- PASSWORD CONFIRMATION-->
              <nz-input-group
                class="my-2"
                [nzPrefix]="prefixTemplatePasswordConfirmation"
              >
                <input
                  type="password"
                  name="passwordConfirmation"
                  id="passwordConfirmation"
                  required
                  nz-input
                  [(ngModel)]="passwordConfirmation"
                  nzSize="large"
                  placeholder="Mot de passe"
                />
              </nz-input-group>
              <ng-template #prefixTemplatePasswordConfirmation>
                <i class="text-blue" nz-icon
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-lock"
                  >
                    <rect
                      x="3"
                      y="11"
                      width="18"
                      height="11"
                      rx="2"
                      ry="2"
                    ></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>
                </i>
              </ng-template>
              <button
                (click)="onSubmit()"
                nz-button
                class="my-3 bg-blue outline"
                nzType="primary"
              >
                Créé mon compte, Hello
              </button>
            </div>
          </div>
        </nz-tab>

        <!-- CONNEXION -->
        <nz-tab nzTitle="S'inscrire">
          <div class="card shadow" style="width: 30em; margin: auto">
            <mat-progress-bar
              *ngIf="isSignInLoad"
              mode="indeterminate"
            ></mat-progress-bar>
            <div class="card-body">
              <span class="hello-text">Hello</span>
              <br />
              <h3>Connectez-vous sur Hello.</h3>
              <div
                class="alert alert-danger"
                *ngIf="alertLoginMessage.length != 0"
              >
                {{ alertLoginMessage }}
              </div>

              <!-- USERNAME (mail address) -->
              <nz-input-group class="my-2" [nzPrefix]="prefixTemplateLoginEmail">
                <input
                  type="email"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  [(ngModel)]="loginEmail"
                  nz-input
                  nzSize="large"
                  placeholder="Adresse email"
                />
              </nz-input-group>
              <ng-template #prefixTemplateLoginEmail>
                <i class="text-blue" nz-icon
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-mail"
                  >
                    <path
                      d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                    ></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
                </i>
              </ng-template>

              <!-- PASSWORD -->
              <nz-input-group class="my-2" [nzPrefix]="prefixTemplateLoginPassword">
                <input
                  type="password"
                  name="loginPassword"
                  id="loginPassword"
                  required
                  nz-input
                  [(ngModel)]="loginPassword"
                  nzSize="large"
                  placeholder="Mot de passe"
                />
              </nz-input-group>
              <ng-template #prefixTemplateLoginPassword>
                <i class="text-blue" nz-icon
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-lock"
                  >
                    <rect
                      x="3"
                      y="11"
                      width="18"
                      height="11"
                      rx="2"
                      ry="2"
                    ></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>
                </i>
              </ng-template>
              <button
                (click)="onLogin()"
                nz-button
                class="my-3 bg-blue outline"
                nzType="primary"
              >
                Se connecter
              </button>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
